body{
  margin:0;
     font-family: avenir, arial, sans-serif;
     background-color: #F4F4F4;
}
/*header styling*/
header{
    background-color: red;
  text-align: center;
    padding-top: 1px;
}

header h1{
    color: white;
    font-family: helvetica;
    font-size: 100px;
    padding-bottom: 20px;
}
header span{
        color:black;
    }

header img{
    border: 5px solid #6F0C03;
    width:400px;
    margin-bottom: 20px;
 
}
header p{

    font-family: helvetica, arial, sans-serif;
    color: lightgrey;
    font-size: 30px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 30px;
    font-weight:900;
    }


header a{
    color: #EFEFEF;
    text-decoration: none
}


/*main styling*/

main{
    max-width: 500px;
    margin:0 auto;
    padding: 0 30;
}
main img{
    width: 500px;
    height: 500px;
    padding: 10 10 10 10;

}

main{

    color: black;
    font-size: 30px;
    
}

main img{
    border: 1px solid black;
}

main h2{
    outline-color: 2px black;
    color: darkslategray;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    text-decoration-line: underline;
    text-align:center

}

main a{
    color: black;
}

main a:hover{
    color: red;
}

/*Footer styling*/
footer{
    text-align: center;
    color: #6F0C03;
}

footer a{
    color: #6F0C03;
    padding-bottom: 50px;
    padding-top: 30px;
}
footer a:hover{
    color: black;
}